{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Travel Stories</h1>
                            <span class="subheading">A collection of travel stories.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <!-- Story preview-->
                    {% for story in all_stories %}
                    <div class="post-preview">
                        <a href="{{ url_for('show_story', story_id=story.id) }}">
                            <h2 class="post-title">
                                {{ story.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ story.country }}, {{ story.city }}
                            </h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{ story.author_name }}</a>
                            on {{ story.date }}
                            <!--Only show delete button if user is_admin (admin user)-->
                            {% if current_user.is_admin %}
                            <a href="{{ url_for('delete_story', story_id=story.id) }}">X</a>
                            {% endif %}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}

                    <!--New Story-->
                    <!--only show Create Story button if user is_admin (admin user)-->
                    {% if current_user.is_admin %}
                    <div class="d-flex justify-content-end mb-4">
                        <a class="btn btn-primary float-right" href="{{ url_for('add_new_story') }}">Add New Story</a>
                    </div>
                    {% endif %}

                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Stories →</a></div>
                </div>
            </div>
        </div>

{% include "footer.html" %}