{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ story.title }}</h1>
                            <h2 class="subheading">{{ story.country }}, {{ story.city }}</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">{{ story.author.name }}</a>
                                on {{ story.date }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Story Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {{ story.story|safe }}
                        <!--Only show Edit Story button if user is_admin (admin user)-->
                        {% if current_user.is_admin %}
                        <div class="d-flex justify-content-end mb-4">
                            <!--Editing story-->
                            <a
                                class="btn btn-primary float-right"
                                href="{{ url_for('edit_story', story_id=story.id) }}"
                                >Edit Story</a>
                        </div>
                        {% endif %}

                        <!--Comments Area-->
                        <div class="col-lg-8 col-md-10 mx-auto comment">
                            <ul class="commentList">
                                {% for comment in story.comments %}
                                <li>
                                    <div class="commentImage">
                                        <img src="{{ url_for('static', filename='assets/img/defaulte-profile.jpg') }}"/>
                                    </div>
                                    <div class="commentText">
                                        <p>{{ comment.comment_text|safe }}</p>
                                        <span class="date sub-text">{{ comment.comment_author.name }}</span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        {% if current_user.is_authenticated %}
                        <div class="col-lg-8 col-md-10 mx-auto mt-4">
                            <form method="POST">
                                {{ form.hidden_tag() }}
                                <div class="mb-3">
                                    {{ form.comment_text.label(class="form-label") }}
                                    {{ form.comment_text(class="form-control", rows="3", placeholder="Write your comment:  ") }}
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        {% else %}
                        <p class="text-center mt-4">
                            Please <a href="{{ url_for('login') }}">Log In</a> to leave a comment.
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>

{% include "footer.html" %}
